/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.border {
  border: 2px solid #000;
  border-radius: 7px;
}

.smallest {
  font-size: .5em;
}

/* table styles */
.reveal table {
  margin-left: 0;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;  /* make tables full width by default */
  border: 1px solid #444; /* add border to entire table */
}

.reveal th {
  border-bottom: 2px solid #666;  /* thicker border for header */
  border: 1px solid #444;
}

.reveal td {
  border: 1px solid #444;  /* subtler borders for cells */
}

.reveal tr:last-child td {
  border-bottom: 1px solid #444; /* ensure last row has bottom border */
}

/* optional class for tables that should not be full width */
.reveal .narrow-table table {
  width: auto;
}

.activity-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1em 1em 0em 1em;
  margin: 1em;
}


